
.hero {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: #9BBEC8;
    margin: 0;
}

.subtitulo p {
    display: flex;
    gap: 5px;
    color: white;
}

.resume {
    /*background-color: #164863;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen .pic {
    margin-top: 50px;
    padding-bottom: 0;
    width: 180px;
    border-radius: 50%;
}

.hello {
    margin-top: 25px;
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #DDF2FD;
}

.resume .me{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    width: 16rem;
    color: white;
}

.me span{
    color: #C5E898;
}

.skills_container {
    padding-top: 30px;
    background-color: #DDF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.skills_container h3 {
    font-family: 'PT Serif', serif;
    color: #164863;
}

.cuadro_skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #164863;
    width: 70%;
    height: 10rem;
    margin-bottom: 50px;
    border-radius: 10px;
}

.cuadro_skills img{
    height: 50px;
}

.contact {
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.contact h3 {
    color: #DDF2FD;
    margin-bottom: 0;
}

.contact p {
    font-family: 'Roboto', sans-serif;
    color: #DDF2FD;
}

.contact a{
    text-decoration: none;
    text-align: center;
    color: #164863;
    width: 110px;
    background: #9BBEC8;
    border: none;
    border-radius: 3px;
}

.bottom-container{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #DDF2FD;
    padding-bottom: 50px;
}

.footer-link {
    text-decoration: none;
    color: #DDF2FD;
    margin: 10px 20px;
    text-align: center;
}

.copyright{
    justify-self: last baseline;
}

@media (max-width: 480px) {
    .cuadro_skills{
        width: 90%;
    }

    .cuadro_skills img{
        height: 35px;
    }

    .subtitulo p{
        flex-direction: column;
    }
}

.gradient-background {
    background: linear-gradient(300deg, #164863, #427D9D, #9BBEC8);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }